@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

body {
    width: 1024px; 
	background-color: rgba(30,30,30,1.00);
	color: whitesmoke;
	margin: 0 auto;
}


h1 {
    font-family: 'Cinzel Decorative', cursive;
	text-align: center;
	font-size: 64px;
	
}

.header>a {
	display: none;
}


span {
	font-family: 'Cinzel Decorative', cursive;
	color: firebrick;
	font-size: 80px;
	
}
h2 {
	background-color: black;
	color: darkred;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 30px;
	
}
h3 {
	color: darkred;
	font-size: 30px;
	text-align: center;
	
	
}
img {
	padding: 10px 10px 10px 10px;	
	border-radius: 30px 30px 30px 30px;
	margin: 10px 10px 10px 10px;
	display: inline;

}
.main>.new-releases {
	display: flex;
	flex-direction: row;
	margin: 3em auto;
	justify-content: center;
}

.new {
	margin-left: 50px; 
	margin-right: 50px;
}

.main>.new-releases>h3 {
	display: none;
}

h4 {
	color: darkred;
	font-color: 64px;
	
}
.first>img {
	width: 250px;
	height: auto;
	background-color: darkred;
	
}

.second>img {
	width: 250px;
	height: auto;
	background-color: darkred;
}


.third>img {
	width: 250px;
	height: auto;
	background-color: darkred;
}
.price {
	font-size: 24px;
	color: crimson;
	font-family: 'STIX Two Text', serif;
	
}

.collections {
	background-image: url('elena-kloppenburg-sIN3qAZ6j08-unsplash (1).jpg');
	width: auto;
	text-align: center;
	background-size: cover;
	border-radius: 100px;
	background-position: top;
	padding-bottom: 90px;
}

.collections>h3 {
	font-size: 40px;
}
.first {
	
}
ul {
	list-style: none;
	
}

.mothers-day {
	background-image: url('zoran-kokanovic-5FOfresB1G4-unsplash.jpg');
	width: auto;
	text-align: center;
	background-size: cover;
	border-radius: 100px;
	background-position: center;
	padding-bottom: 140px;
	
}
.mothers-day>h3 {
	font-size: 40px;
	
	
	
}

.mothers-day>p {
	text-align: center;
	margin: 0 auto;
	font-size: 15px;
	margin-top: auto;
	width: 150px;
}